body {
    background-color: #202020;
}

.configurator {
    background: #2C87BF;
    background-repeat: no-repeat;
    background-size: 1900px;
    background-position: center;
    width: 980px;
    height: 900px;
    border-radius: 50px;
    margin-left: 470px;
    aspect-ratio: 1/1;
    border: 10px solid rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(25px);
    margin-bottom: 50px;
}

.configurator::before {
    position: absolute;
    height: 100%;
    width: 100%;
    background: conic-gradient(
        from 0deg at center,
        #00c3ff,
        #4d0199,
        #6300c6,
        #009dcd
    );
    border-radius: inherit;
    z-index: -2;
    padding: 2px;
}


.cpu {
    width: 300px;
    height: 200px;
    border-radius: 30px;
    margin: 20px;
    margin-left: 150px;
    background-image: url('/img/7800X3D.png');
    background-position: center;
    background-size: 220px;
    background-repeat: no-repeat;
    border: 3px solid rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(25px);
}

.mb {
    width: 300px;
    height: 200px;
    border-radius: 30px;
    margin: 20px;
    margin-left: 500px;
    margin-top: -225px;
    background-image: url('/img/1000.webp');
    background-position: center;
    background-size: 180px;
    background-repeat: no-repeat;
    border: 3px solid rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(25px);
}

.gpu {
    width: 180px;
    height: 180px;
    border-radius: 30px;
    margin-top: 25px;
    margin-left: 50px;
    background-image: url('/img/h525.png');
    background-position: center +500px top;
    background-size: 180px;
    border: 3px solid rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(25px);
}

.mem {
    width: 180px;
    height: 180px;
    border-radius: 30px;
    margin-left: 750px;
    margin-top: -185px;
    background-image: url('/img/DDR5.jpg');
    background-position: center;
    background-size: 180px;
    background-repeat: no-repeat;
    border: 3px solid rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(25px);
}

.case {
    background-image: url('/img/jedv8527gh00qg26rr0fm9oixk3fxx6e.webp');
    background-repeat: no-repeat;
    background-size: 390px;
    background-position: center;
    width: 420px;
    height: 380px;
    border-radius: 30px;
    margin-left: 280px;
    margin-top: -185px;
    border: 3px solid rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(25px);
}

.ssd {
    width: 180px;
    height: 180px;
    border-radius: 30px;
    margin-top: -185px;
    margin-left: 50px;
    background-image: url('/img/h525\ \(1\).png');
    background-position: center;
    background-size: 180px;
    background-repeat: no-repeat;
    border: 3px solid rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(25px);
}

.psu {
    width: 180px;
    height: 180px;
    border-radius: 30px;
    margin-left: 750px;
    margin-top: -185px;
    background-image: url('/img/70871760091.png');
    background-position: center +500px top;
    background-size: 180px;
    border: 3px solid rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(25px);
}

.cpu-cool {
    width: 300px;
    height: 200px;
    border-radius: 30px;
    margin-top: 30px;
    margin-left: 150px;
    margin-bottom: -50px;
    background-image: url('/img/водянка\ асус.png');
    background-position: center;
    background-size: 300px;
    background-repeat: no-repeat;
    border: 3px solid rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(25px);
}

.case-cool {
    width:300px;
    height: 200px;
    border-radius: 30px;
    margin-left: 500px;
    margin-top: -205px;
    margin-bottom: -50px;
    background-image: url('/img/кулер\ асус.png');
    background-position: center;
    background-size: 180px;
    background-repeat: no-repeat;
    border: 3px solid rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(25px);
}

.name-cpu {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin-top: 160px;
    color: aliceblue;
}

.name-mb {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin-top: 160px;
    color: aliceblue;
}

.name-gpu {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin-top: 145px;
    color: aliceblue;
}

.name-mem {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin-top: 145px;
    color: aliceblue;
}

.name-ssd {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin-top: 145px;
    color: aliceblue;
}

.name-psu {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin-top: 145px;
    color: aliceblue;
}

.name-case {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin-top: 345px;
    color: aliceblue;
}

.name-cpu-cool {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin-top: 160px;
    color: aliceblue;
}

.name-case-cool {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin-top: 160px;
    color: aliceblue;
}

.configurator2 {
    background: #2C87BF;
    background-repeat: no-repeat;
    background-size: 1900px;
    background-position: center;
    width: 980px;
    height: 520px;
    border-radius: 50px;
    margin-left: 470px;
    border: 3px solid rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(25px);
    margin-top: 50px;
    margin-bottom: 50px;
}

.monitor {
    width: 200px;
    height: 200px;
    border-radius: 30px;
    margin-top: 36px;
    margin-left: 36px;
    background-image: url('/img/monitor.png');
    background-position: center;
    background-size: 200px;
    background-repeat: no-repeat;
    border: 3px solid rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(25px);
}

.mise {
    width: 200px;
    height: 200px;
    border-radius: 30px;
    margin-top: -206px;
    margin-left: 272px;
    background-image: url('/img/28011_1-no-bg-preview\ \(carve.photos\).png');
    background-position: center;
    background-size: 200px;
    background-repeat: no-repeat;
    border: 3px solid rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(25px);
}

.keyboard {
    width: 200px;
    height: 200px;
    border-radius: 30px;
    margin-top: -206px;
    margin-left: 508px;
    background-image: url('/img/keyboard1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200px;
    border: 3px solid rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(25px);
}

.headphones {
    width: 200px;
    height: 200px;
    border-radius: 30px;
    margin-left: 750px;
    margin-top: -206px;
    background-image: url('/img/headphones.png');
    background-position: center;
    background-size: 200px;
    background-repeat: no-repeat;
    border: 3px solid rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(25px);
}

.rug {
    width: 200px;
    height: 200px;
    border-radius: 30px;
    margin-left: 36px;
    margin-top: 36px;
    background-image: url('/img/DDR5.jpg');
    background-position: center;
    background-size: 180px;
    background-repeat: no-repeat;
    border: 3px solid rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(25px);
}

.microphone {
    width: 200px;
    height: 200px;
    border-radius: 30px;
    margin-top: -206px;
    margin-left: 272px;
    background-image: url('/img/h525\ \(1\).png');
    background-position: center;
    background-size: 180px;
    background-repeat: no-repeat;
    border: 3px solid rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(25px);
}

.webc {
    width: 200px;
    height: 200px;
    border-radius: 30px;
    margin-left: 508px;
    margin-top: -206px;
    background-image: url('/img/70871760091.png');
    background-position: center;
    background-size: 180px;
    border: 3px solid rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(25px);
}

.bracket {
    width: 200px;
    height: 200px;
    border-radius: 30px;
    margin-top: -206px;
    margin-left: 750px;
    margin-bottom: -50px;
    background-image: url('/img/водянка\ асус.png');
    background-position: center;
    background-size: 300px;
    background-repeat: no-repeat;
    border: 3px solid rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(25px);
}

.name-monitor {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin-top: 160px;
    color: aliceblue;
}

.name-mise {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin-top: 160px;
    color: aliceblue;
}

.name-keyboard {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin-top: 160px;
    color: aliceblue;
}

.name-headphones {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin-top: 160px;
    color: aliceblue;
}

.name-rug {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin-top: 160px;
    color: aliceblue;
}

.name-microphone {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin-top: 160px;
    color: aliceblue;
}

.name-webc {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin-top: 160px;
    color: aliceblue;
}

.name-bracket {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin-top: 160px;
    color: aliceblue;
}

.configurator3 {
    background: #2C87BF;
    background-repeat: no-repeat;
    background-size: 1900px;
    background-position: center;
    width: 980px;
    height: 520px;
    border-radius: 50px;
    margin-left: 470px;
    border: 3px solid rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(25px);
    margin-top: 50px;
    margin-bottom: 50px
}

.armchair {
    width: 400px;
    height: 400px;
    border-radius: 30px;
    margin-top: 60px;
    margin-left: 60px;
    background-image: url('/img/monitor.png');
    background-position: center;
    background-size: 200px;
    background-repeat: no-repeat;
    border: 3px solid rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(25px);
}

.table {
    width: 400px;
    height: 400px;
    border-radius: 30px;
    margin-top: -406px;
    margin-left: 520px;
    background-image: url('/img/28011_1-no-bg-preview\ \(carve.photos\).png');
    background-position: center;
    background-size: 200px;
    background-repeat: no-repeat;
    border: 3px solid rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(25px);
}

.name-armchair {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin-top: 340px;
    color: aliceblue;
}

.name-table {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin-top: 340px;
    color: aliceblue;
}

h2 {
    color: #f7f7f7;
    font-size: 48px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}